.chat__empty {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 0 auto;
  padding: 0 30px;
  align-items: center;
  font-size: 32px;
  font-weight: 300;
  color: var(--text-grey-color);
}