.sidebar{
    display: flex;
    flex-direction: column;
    flex: 0.35;
    max-width: 550px;
    border-right: 2px solid var(--border-color);
}
.sidebar_chats{
    overflow-y: scroll;
    scrollbar-color: hsl(240, 63%, 64%) #e0e0e0;
    scrollbar-width: thin;
}
.sidebar_chats::-webkit-scrollbar {
    width: 6px;
    background: var(--white);
}
.sidebar_chats::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
}
.sidebar_header{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    height: 59px;
    border-bottom: 1px solid var(--border-color);
}
.sidebar_header > svg {
    width: 40px;
    height: 40px;
}
.sidebar_headerRight{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
    opacity: 60%;
}

.sidebar_search{
    display: flex;
    align-items: center;
    background-color: var(--white);
    height: 49px;
    padding: 5px 10px;
    border-bottom: 1px solid var(--border-color);
}
.sidebar_searchcontainer{
    display: flex;
    align-items: center;
    background-color: var(--main-bg-color);
    width: 100%;
    height: 35px;
    border-radius: 7px;
}

.sidebar_searchcontainer > input{
    border: none;
    font-size: 16px;
    display: flex;
    flex: 1;
    outline-width: 0;
    margin-left: 10px;
    padding: 0 32px 0 22px;
    background-color: inherit;
}
.sidebarChat{
    flex:1;
    background-color: var(--white);
}
.sidebarChat {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 15px 0 13px;
    height: 73px;
    border-bottom: 1px solid var(--border-color);
}
.sidebarChat > svg {
    width: 49px;
    height: 49px;
}


.sidebarChat:hover {
    background-color: var(--chat-hover-color);
}

.sidebarchat__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 15px;
    justify-content: center;
    font-family: var(--font);
    font-weight: 400;
    color: #667781;
    font-size: 14px;
}

.sidebarchat__title {
    display: flex;
    justify-content: space-between;
}
.sidebarchat__title > h2 {
    color: var(--text-black-color);
    font-size: 17px;
    font-weight: 400;
}

.sidebarchat__title>p {
    font-size: 12px;
}

.sidebarChat__active {
    background-color: var(--main-bg-color);
}