* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --first-layout-bg-color: #D9E0E0;
  --second-layout-bg-color: #00A884;
  --main-bg-color: #f0f2f5;
  --border-color: #4a45450a;
  --white: #ffffff;
  --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --svg-color: #54656f;
  --msg-rcvd-color: #dcf8c6;
  --text-black-color: #111B21;
  --text-grey-color: #667781;
  --input-msg-color: #3B4A54;
  --chat-hover-color: #F5F6F6;
  --clicked-color: #d5d5d5;
  --scrollbar-color: #CED0D1;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: grid;
  place-items: center;
  height: 100vh;
  background: linear-gradient(to top,
      var(--first-layout-bg-color) 0%,
      var(--first-layout-bg-color) 87%,
      var(--second-layout-bg-color) 87%,
      var(--second-layout-bg-color) 100%);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app_body {
  display: flex;
  background-color: var(--main-bg-color);
  width: 100%;
  height: -webkit-fill-available;
  max-width: 1750px;
  max-height: 960px;
  overflow: hidden;
  margin: 20px 30px;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--border-color);
}

@media (max-width: 1600px) {
  .app_body {
    margin: 0;
    padding: 0;
  }
}